{% extends "base.html" %}

{% block menu %}
    <a class="nav-link"  href="/entrance/in/">입차</a>
    <a class="nav-link active" aria-current="page" href="/entrance/out/">출차</a>
    <a class="nav-link" href="/entrance/payment/">정산</a>
    <a class="nav-link" href="/entrance/manager/">관리자</a>
    <a class="nav-link" href="/">Home</a>
{% endblock menu %}

{% block content %}
<h1>Out Gate</h1>
<br>
<h5>차량번호를 입력하세요</h5>

<form action="" method="post">
    {% csrf_token %}
    <p><input type="text" placeholder="car number" name="number"></p>
    <br>
    <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white">OUT</button>

</form>

{% endblock content %}


