{% extends "base.html" %}

{% block menu %}
    <a class="nav-link"  href="/entrance/in/">입차</a>
    <a class="nav-link active" aria-current="page" href="/entrance/out/0">출차</a>
    <a class="nav-link" href="/entrance/manager/">관리자</a>
    <a class="nav-link" href="/">Home</a>
{% endblock menu %}

{% block content %}
<h1>Out Gate</h1>
<br>
{% if car %}
<h4>{{ car.number }} 차량고객님 출차를 원하시면 OUT 버튼을 눌러주세요</h4>
<br>
<form action="{% url 'entrance:out' car.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white">OUT</button>
</form>

{% else %}

<h3>입차부터 먼저 해주세요</h3>

{% endif %}

{% endblock content %}


