{% extends "base.html" %}

{% block menu %}
    <a class="nav-link"  href="/entrance/in/">입차</a>
    <a class="nav-link" href="/entrance/out/0">출차</a>
    <a class="nav-link" href="/entrance/discount/">할인</a>
    <a class="nav-link" href="/entrance/payment/">정산</a>
    <a class="nav-link" href="/entrance/manager/">관리자</a>
    <a class="nav-link active" aria-current="page" href="/">Home</a>
{% endblock menu %}


{% block content %}

<h1>주차장 현황</h1>

{% if car %}
    {% for c in car %}

        <li>{{ c.entry_time }} -- {{ c.car.number }}</li>

    {% endfor %}

{% endif %}


{% endblock content %}

